.container-inner {
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    /* box-shadow: rgba(255, 255, 255, 0.025) 0px 0.362176px 0.651917px -1px inset, rgba(255, 255, 255, 0.036) 0px 3px 5.4px -2px inset; */
    /* background-color: #121214; */
}
.glassy {
    background: rgba(102, 150, 167, 0.183); /* Adjust the RGBA for desired color and transparency */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    /* border-radius: 10px; Rounded corners for a softer look */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
    padding: 20px; /* Add some padding for content spacing */
}

.texlink {
    transition: all 0.5 ease;
}

.textlink:hover {
    scale: 1.15;
    color: white;
}
