.primary {
    background-color: #FFE5CF;
    font-family: 'Lemon';
}

.primaryheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
    padding: 20px 30px;
}

.primary .logo {
    float: left;
    font-size: 1.5em;
    line-height: normal;
    color: #33372C;
}

.primaryheader li {
    float: left;
}

.primaryheader li a {
    line-height: normal;
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #33372C;
}

@keyframes bubble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.bubble-btn{
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.bubble-btn:hover {
    box-shadow: 0 3px 3px #ee531b;
}


.ul_top_headers {
    list-style: none;
    max-height: none;
    margin-top: 10px;
    clear: both;
}

.ul_top_headers li{
    float: left;
    justify-content: space-around;
    padding-left: 1rem;
}