.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5{
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../../assets/background1.jpeg");
    min-height: 400px;
  }

.bgimg-1 {
    background-position: top;
    background-image: url("../../assets/background2.jpeg");
    min-height: 400px;
}

.bgimg-3 {
  background-position: top;
  background-image: url("../../assets/background3.jpeg");
  min-height: 400px;
}

.bgimg-4 {
  background-position: top;
  background-image: url("../../assets/background4.jpeg");
  min-height: 400px;
}

.bgimg-5 {
  background-position: top;
  background-image: url("../../assets/background5.jpeg");
  min-height: 400px;
}

.icons {
    transition: all 0.5s ease;
}

.icons:hover {
    scale: 1.15;
}

.icons-inline {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}


  
  .custom-height-swiper .swiper-slide {
    height: 60vh;
    width: 50vw;
  }
  
  .left-arrow {
    padding-left: 4rem;
    color: aliceblue;
  }

  .right-arrow {
    padding-right: 4rem;
    color: aliceblue;
  }

  .shaders {
    visibility: hidden;
  }

  @media (min-width: 768px) and (min-height: 800px){
    .md-shaders {
        visibility: visible;
    }
  }

  @media (min-width: 1024px) and (min-height: 800px) {
    .lg-shaders {
      visibility: visible;
    }
  }
