

.greet-main {
    font-family: 'Lemon';
    color: #33372C;;
    max-width: 100%;
    padding: 10px;
    margin: 2rem auto 0;
    display: block;
}

.greeting-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.greeting-text-div {
    margin: 2%;
}

.greeting-sideimg {
    flex: 1;
    min-width: 0;
}

.greeting-text {
    margin-top: 110px;
    font-size: 70px;
    line-height: 5px;
}

.greeting-text-p {
    font-size: 30px;
    line-height: 40px;
    margin-right: 40px;
}

.social-media-div {
    font-size: 2rem;
}

.flex-item {
    min-height: 600px;
    flex-grow: 1;
}